<html>
<div>

<p style="list-style:none;margin-left:900px"><%= link_to "Sign Out", signout_path, :method => :delete %></p>
<h1 style="text-align:center;color:#01DFD7">Thanks for answering the survey!</h1>
</div>
     
</html>
